*{text-decoration: none;
    list-style: none;
}
body{
    background-color: white;
    
}

header, article, aside, h1, p, footer{

    background-color: white;
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    max-width: 1000px;
    font-size: 17px;
}

h1, h2{
    text-align: center;
}

.contenedor{
     background-color: purple;
    height: auto;
    width: 150px;
    color: white;
    margin:20px ;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    }

.padre{
 
      
       display: flex;
       justify-content: center;
}

.img{

    display: flex;
    justify-content: center;
}

.data{

    margin:10px ;
    padding: 20px;
}

header ul li a{
    background-color: blanchedalmond;
    padding: 10px 20px;
    display: block;
    color:black;
    text-decoration: none;  
    float: left;

}

footer{
    text-align: center;
}